.auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.auth__title {
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1rem;
}

.auth-form {
  width: 400px;
}

.auth-form__title {
  font-weight: 600;
  font-size: 14px;
}

.auth-form__error {
  color: rgba(236, 48, 48, 1);
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 1rem;
  text-align: center;
}

.auth-form__button {
  background-color: rgba(216, 231, 255, 1);
  color: rgba(23, 91, 192, 1);
  font-weight: 700;
  font-size: 12px;
  width: 100%;
  height: 48px;
}

.auth-form__text {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: 12px;
}

.auth-form__text--bold {
  cursor: pointer;
  margin-left: 5px;
  font-weight: 700;
  color: black;
}
